/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.section5 {
    /* margin-top: 200px; */
    max-width: 100%;
    margin: 100px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.section5 .pc{
    max-width: 1440px;
    margin: auto;
    height: 1600px !important;
}

.section5 .mobile{
  width: 100%;
  display: none;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
}

.navs .logo > img {
 cursor: pointer;
}

.navs button {
    display: flex;
/* padding: 8px 40px; */
height: 46px;
width: 178px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: var(--primary, #27B5B7);
color: var(--white, #FFF);
font-family: "Pretendard";
font-size: 18px;
font-weight: 700;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 74px;
    background: var(--white, #FFF);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
}

.menu {
    display: flex;
    gap: 40px;
    list-style: none !important;
}


.menu li { 
    list-style: none !important;
    
}

.menu li a {
color: var(--gray50, #A0A0A0);
font-family: Pretendard;
font-size: 16px;
font-weight: 600;
list-style: none !important;
text-decoration: none;
}

.cta-button {
    background-color: #00bfa6;
    color: white;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

.hero-button {
    background-color: #00bfa6;
    color: white;
    padding: 1em 2em;
    border: none;
    cursor: pointer;
}

#hero {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    background-image: url('/public/images/banner-pc.png'); /* Replace with actual hero image */
    background-size: cover;
    color: white;
    height: 784px;
    border-bottom: 40px solid #F0FBFB;
}

#hero div h1 {
color: #000;
text-align: center;
font-family: Pretendard;
font-size: 74px;
font-style: normal;
font-weight: 300;
line-height: 90px; /* 121.622% */
letter-spacing: -1.48px;
}

#hero div p {
color: rgba(0, 0, 0, 0.80);
font-family: "DM Sans";
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
}

#hero div button {
    display: flex;
padding: 16px 40px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 12px;
background: var(--primary, #27B5B7);
box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
color: var(--white, #FFF);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
margin: 0 auto;
margin-top: 40px;
}
#hero div h1 span {
font-weight: 700;
}

/* Services Section */
#services {
    padding-block: 120px;
    /* padding: 2em; */
    max-width: 1440px;
    margin: auto;
    text-align: center;
}

.section2-container{
    display: flex;
    border-radius: 300px;
    border: 1px solid rgba(39, 181, 183, 0.20);
    background:  #F0FBFB;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 40px;
    margin-top: 40px;
}

.section2-item{
    border-radius: 300px;
    background:  #FFF;
    box-shadow: 0px 8px 40px 0px #D7EDEE;
    width: 340px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



.section2-item .mainImg{
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
}

.section2-item h3{
    margin-bottom: 16px;
}
.section2-item .description{
    display: none;
    margin-bottom: 16px;
    color: #6E6E6E;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.section2-item.active .description{
    display: block;
}
.section2-item.active  .mainImg{
    display: none;
}


.features-list{
    display: none;
    flex-direction: column;
    gap:12px;

}
.section2-item.active .features-list{
    display: flex;
}

.featureDiv{
    display: flex;
    gap:4px;
    
}

.featureDiv p{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px; /* 137.5% */
}
#types-of-services {
    padding-block: 60px;
}

.types-of-services-grid {
   width: calc(660px* 2 + 40px);
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin: 0 auto;
    margin-top: 40px;
}

.types-of-services-grid > div {
 display: flex;
 border-radius: 24px;
 background: #F8F8F8;
 padding: 30px;
 gap: 30px;
}

.types-of-services-grid div > img {
    width: 184px;
    height: 184px;
}

.types-of-services-grid > div > div{
   flex: 1;
}

.services-card > div > p:first-child {
color: var(--Black-Text, #343434);
/* text-align: center; */
font-family: "Pretendard";
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 38px; /* 126.667% */
}


.services-card > div > p:nth-child(2) {
    color: rgba(52, 52, 52, 0.70);
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 188.889% */
}



.title {
 color: var(--Black-Text, #343434);
text-align: center;
font-family: "Pretendard";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
word-break: keep-all;
padding-left: 50px;
padding-right: 50px;
}

.subtitle1 {
    color: var(--gray-70, #6E6E6E);
text-align: center;
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 400;
margin-top: 24px;
line-height: 36px; 
}

.subtitle2 {
    color: var(--Black-Text, #343434);
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
text-align: center;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.card {
    padding: 1em;
    background-color: #e6f7f7;
    border-radius: 5px;
}



/* Reasons Section */
#reasons {
    text-align: center;
    background:  #F0FBFB;
    padding-top: 80px;
    padding-bottom: 80px;
}


#reasons h2{
    color:  #27B5B7;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:24px;
}

#reasons p{
    color: #6E6E6E;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
 
}

.black-cl {
  color:  #343434 !important;
  word-break: keep-all;
}

#process {
      width: 100% !important;
    height: 1873px !important;
    margin-bottom: 200px;
}

.process > img  {
    width: 1440px !important;
    height: 1873px !important;
    border:  1px solid #000;
    /* background-image: url('/public/images/section5/process-pc.png');
    height: 1873px; */
}



#nationwide {
    padding: 80px !important;

}

#nationwide > p:last-child {
    margin-top: 100px !important;
}

.map-image {
 margin-top: 60px;
 width: 100% !important;
 display: flex;
 justify-content: center;
}

.map-image > img {
    max-width: 944px !important;
    margin: auto;
    height: 978px;
}



.reasons-container {
   display: flex;
   width: 100%;
   overflow-x: auto;
   gap:20px;
   padding-top:40px;
   padding-bottom:40px;
   padding-left:180px;
   padding-right:180px;
   -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.reasons-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}
.reason-card {
    border-radius: 12px;
    border: 1px solid rgba(39, 181, 183, 0.20);
    background:  #FFF;
    display: flex;
    flex-direction: column;

    height: fit-content;
    
}

.reason-card > img{
    width: 420px;
    height: 288px !important;
    flex-shrink: 0;
    object-fit: cover; 
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.reason-card .content{
   display: flex;
   flex-direction: column;
   gap:12px;
   padding: 24px;

}


.reason-card .content h3{
    align-self: flex-start;
    color:  #343434;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
 }
 

.reason-card .icon{
    width: 40px !important;
    height: 40px !important;
    flex-shrink: 0;
}


#section4{
    max-width: 1344px;
    margin: auto;
    text-align: center;
    background:  #fff;
    padding-top:80px;
    padding-bottom:80px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 100%;
    align-items: center;
}



.section4-container{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    gap: 20px;
    padding: 20px;

}


#section4 h2{
    color:  #343434;
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom:24px;
    align-self: center;
}

#section4 p{
    color: #6E6E6E;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}


.section4-card{
    border-radius: 24px;
    background: #F8F8F8;
    padding:30px;
    display: flex; 
    justify-content: start;
    gap:30px;
}



.section4-card h3, .hashtags{
    align-self: start;
}

.section4-card h3{
    color:  #343434;
    text-align: center;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px;
}

.section4-card .content{
    display: flex;
    flex-direction: column;
    /* width: 422px; */
}




.hashtags span{
    color: rgba(52, 52, 52, 0.70);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}


.section4-card .services{
    background: #F8F8F8;
    gap:8px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}



.section4-card .service{
    padding: 6px 20px;
    border-radius: 12px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    width: fit-content;
    color: #595959;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.map-mob{
    display: none;

}



    @media (max-width: 1200px) {
        .black-cl{
            padding-left: 50px;
            padding-right: 50px;
        }
        .map-pc{
            display: none !important;
        }
        .map-image > img {
            display: block;
            width: 100%;
            height: 362px;
        }

        .navs button {
        height: 34px;
        width: 116px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 4px;
        color: var(--white, #FFF);
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; 
        }
        

        .menu{
            display: none;
        }
        #hero div h1 {
            font-size: 30px;
            font-weight: 300;
            line-height: 40px; /* 133.333% */
            letter-spacing: -0.6px;
            word-break: keep-all;
        }

        #hero div p {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px; 
            }

            #hero div h1 span {
      
                font-size: 30px;
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -0.6px;
                }

        .title {
            font-size: 20px;
            font-weight: 800;
            line-height: 28px; /* 140% */
           }

           .subtitle1 {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
        }

        .subtitle2 {
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 22px;
        }
        #services{
            padding-block: 40px;
        }
        .section2-container{
            display: flex;
            border-radius: none;
            border: none;
            background: #fff;
            align-items: center;
            justify-content: center;
            gap:10px;
            padding: 10px;
            margin-top: 40px;
        }

 

        .section2-item{
            background:  #FFF;
            flex-direction: column-reverse;
            width: 90px;
            height: 220px;
            border-radius: 12px;
            padding-top: 20px;
            justify-content: center;
            box-shadow: 0px 4px 12px 0px #EAF1F1;
        }

        .section2-item.active {
            flex-direction: column;
            width: 154px;
        }
        
        .section2-item.active .mainImg {
            display: none; /* 'none' is the correct value to hide an element */
        }
        
        .section2-item.active .description {
            display: block; /* Show the description when active */
        }

        .section2-item.active .features-list {
            display: flex;
        }
        

        .section2-item .mainImg{
            width: 40px;
            height: 40px;
        }


        .section2-item h3{
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 4px;
        }


        .section2-item .description{
            display: none;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
            display: hidden;
            word-break: keep-all;
            width: 60px;
            margin-bottom: 20px; /* 150% */
        }
        .check{
            display: none;
        }
        .features-list{
            display: none;
            flex-direction: column;
            gap:0px;
            align-items: center;
        
        }
        
        .featureDiv p{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: #343434;
        }



        #reasons {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        #reasons h2{
            font-size: 20px;
            font-weight: 800;
            line-height: 28px; 
            margin-bottom:12px;
        }

        #reasons p{
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
         
        }

        .reasons-container {
            padding-left:20px;
            padding-right:20px; 
         }


         .reason-card > img{
            width: 200px;
            height: 120px !important;
        }

        .reason-card .content{
            gap:8px;
            padding: 10px;
         
         }
         .reason-card .content h3{
            font-size: 15px;
            font-weight: 700;
            line-height: 24px; 
         }

         .reason-card .icon{
            width: 20px !important;
            height: 20px !important;
            flex-shrink: 0;
        }
        
        #section4{
            padding-top:40px;
            padding-bottom:40px;
        }
        
        

        .section4-container {
            display: grid; 
            grid-template-columns: repeat(6, 220px); 
            gap: 20px; 
            padding: 24px; 
            overflow-x: auto; 
            white-space: nowrap; 
            width: 100%;
            overflow-x: auto;
        }
    
        #section4 h2{
            font-size: 20px;
            font-weight: 800;
            line-height: 28px; /* 140% */
            word-break: keep-all;
            padding-right: 50px;
            padding-left: 50px;

        }
        
        #section4 p{
            font-size: 14px;
            line-height: 22px; /* 157.143% */
            word-break: keep-all;
        }

        .black{
            font-size: 14px;
            font-weight: 700;
            line-height: 22px;
        }
        .section4-card {
            flex-direction: column;
            align-items: center;
            width: 220px !important;
            padding: 20px 16px;
        }
        
        .section4-card > img{
            width: 78px;
            height: 78px;
        }
        
        .section4-card h3{
            color:  #343434;
            text-align: center;
            font-size: 18px;
            font-weight: 800;
            line-height: 26px; /* 144.444% */
        }

        .hashtags span{
            font-size: 12px;
            line-height: 18px; /* 150% */
        }
        
        
        .section4-card .services{
            align-items: center;
            justify-content: center;
        }
    
        .section4-card h3, .hashtags{
            align-self: center;
        }
    
        .section4-card .service{
            padding: 4px 10px !important;
            font-size: 12px !important;
            line-height: 18px !important; /* 150% */
            }
        
        .process{
            width: 100%;
        }

        .process > img  {
            width: 100% !important;
            /* height: 1873px !important; */
            border:  1px solid #000;
        
        }
        

        .section5 .pc{
            display: none;
        }
        
        .section5 .mobile{
            display: block;
        }
        
    }

 

/* Contact Form */
#contact {
 max-width: 1200px !important;
 margin: auto;
 padding-block: 200px;
}





#contact label {
    color: var(--gray-70, #6E6E6E);
font-family: "Pretendard";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


#contact > form {
    margin-top: 30px;
}


#contact input {
display: flex;
padding: 14px 16px;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 8px;
background: #F9F9F9;
outline: none;
border: none;
color: #9E9E9E;
font-family: "Pretendard";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 16px;
}


#contact > form > .checkbox-container {
    margin-block: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#contact > form > .checkbox-container > div {
  display: flex;
  align-items: center;
}

#contact > form > .checkbox-container > .checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#contact > form > button {
    display: flex;
height: 52px;
width: 100%;
padding: 10px 40px;
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;
border-radius: 12px;
background: var(--primary, #27B5B7);
}



form label {
    display: block;
    margin-top: 1em;
}

form input, form textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
}

form button {
    background-color: #00bfa6;
    color: white;
    padding: 0.5em 1em;
    margin-top: 1em;
    border: none;
    cursor: pointer;
}

.footer {
    text-align: center;
    height: 661px;
    max-width: 1620px;
    /* background-image: url("/public/images/footer/footer-pc.png"); */
}
